xterm*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
xterm*allowBoldFonts: false
aterm*loginShell:true
aterm*transparent:false
aterm*shading:20
aterm*background: #F0FFF0
aterm*foreground: Black
aterm*scrollBar:true
aterm*scrollBar_right:true
aterm*transpscrollbar:false
aterm*saveLines:32767
aterm*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
aterm*boldFont: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*

URxvt*background: #C3C3C3
!! #F0FFF0
URxvt*foreground: Black
URxvt*transparent: false
URxvt*inheritPixmap: false
!! URxvt*shading: 20
!!URxvt*geometry: 236x74
!! Fonts
!!URxvt*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
!!URxvt*boldFont: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
URxvt*font: 9x15
URxvt.perl-ext-common: default,matcher,tabbed,font-size
URxvt.url-launcher: google-chrome
URxvt.keysym.M-Up:     perl:font-size:increase
URxvt.keysym.M-Down:   perl:font-size:decrease
URxvt.keysym.M-C-Up:   perl:font-size:incglobal
URxvt.keysym.M-C-Down: perl:font-size:decglobal
!! URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@!-]*[\\w/-]
!! Tabs
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: -1
!! Keybindings
URxvt*eightBitInput:   false
URxvt*metaSendsEscape: false
XTerm*eightBitInput:   false
XTerm*metaSendsEscape: false
!! Scroll behavior
URxvt.searchable-scrollback: CM-s
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*scrollBar_right: true
URxvt*saveLines: 10000
URxvt*smartresize: false
