xterm*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
xterm*allowBoldFonts: false

XClock.Clock.majorColor:  rgb:0/0/0
XClock.Clock.minorColor:  rgb:0/0/0
XClock.Clock.hourColor:   rgb:0/0/0
XClock.Clock.minuteColor: rgb:0/0/0
XClock.Clock.secondColor: rgb:0/0/0

aterm*loginShell:true
aterm*transparent:false
aterm*shading:20
aterm*background: #F0FFF0
aterm*foreground: Black
aterm*scrollBar:true
aterm*scrollBar_right:true
aterm*transpscrollbar:false
aterm*saveLines:32767
aterm*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
aterm*boldFont: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*

URxvt*background: Black
URxvt*foreground: White
URxvt*transparent: true
URxvt*inheritPixmap: true
URxvt*shading: 20
!!URxvt*geometry: 236x74
!! Fonts
!!URxvt*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
!!URxvt*boldFont: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
URxvt*font: 8x13, xft:NanumGothicCoding
URxvt*boldfont: 8x13B, xft:NanumGothicCoding
URxvt.perl-ext-common: default,matcher,tabbed,font-size
URxvt.url-launcher: google-chrome
URxvt.keysym.M-Up:     perl:font-size:increase
URxvt.keysym.M-Down:   perl:font-size:decrease
URxvt.keysym.M-C-Up:   perl:font-size:incglobal
URxvt.keysym.M-C-Down: perl:font-size:decglobal
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@!-]*[\\w/-]
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: -1
URxvt*eightBitInput:   false
URxvt*metaSendsEscape: false
XTerm*eightBitInput:   false
XTerm*metaSendsEscape: false
URxvt.searchable-scrollback: CM-s
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*scrollBar_right: true
URxvt*thickness: 14
URxvt*scrollstyle: next
URxvt*saveLines: 10000
URxvt*smartresize: false
URxvt.cursorBlink: 1
