xterm*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
xterm*allowBoldFonts: false
xterm*background: #2f2f2f
xterm*foreground: White

XClock.Clock.majorColor:  rgb:0/0/0
XClock.Clock.minorColor:  rgb:20/20/20
XClock.Clock.hourColor:   rgb:0/0/0
XClock.Clock.minuteColor: rgb:0/0/0
XClock.Clock.secondColor: rgb:20/20/20

aterm*loginShell:true
aterm*transparent:false
aterm*shading:20
aterm*background: #F0FFF0
aterm*foreground: Black
aterm*scrollBar:true
aterm*scrollBar_right:true
aterm*transpscrollbar:false
aterm*saveLines:32767
aterm*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
aterm*boldFont: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*

URxvt*background: #2f2f2f
URxvt*foreground: White
URxvt*transparent: false
!!URxvt*shading: 30
!!URxvt*inheritPixmap: true
!!URxvt*geometry: 236x74
!! Fonts
URxvt*font: -*-terminal-medium-r-*-*-*-*-*-*-*-110-iso8859-*
URxvt.perl-ext-common: default,matcher,tabbed,selection-to-clipboard
URxvt.url-launcher: google-chrome
URxvt.keysym.M-Up:     perl:font-size:increase
URxvt.keysym.M-Down:   perl:font-size:decrease
URxvt.keysym.M-C-Up:   perl:font-size:incglobal
URxvt.keysym.M-C-Down: perl:font-size:decglobal
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@!-]*[\\w/-]
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: -1
URxvt*eightBitInput:   false
URxvt*metaSendsEscape: false
XTerm*eightBitInput:   false
XTerm*metaSendsEscape: false
URxvt.searchable-scrollback: CM-s
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*scrollBar_right: true
URxvt*thickness: 14
URxvt*scrollstyle: next
URxvt*saveLines: 10000
URxvt*smartresize: false
URxvt.cursorBlink: 1
